.biz-page-container {
  position: relative;
  top: 110px;
  width: 960px;
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.grey-bg {
  z-index: -100;
  background-color: #f5f5f5;
  border-bottom: 1px solid #e6e6e6;
  width: 100%;
  height: 29%;
  position: absolute;
}


.biz-headers {
  width: 960px;
  height: 112px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.biz-header-left {
  width: 490px;
  height: 112px;
  line-height: normal;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.biz-name {
  font-size: 36px;
  font-weight: bold;
  width: 490px;
  margin-right: 40px;
}

.reviews-count {
  width: 76px;
  height: 24px;
  margin: 0;
  margin-right: 270px;
  margin-left: 10px;
}

.price-counter {
  letter-spacing: 2px;
  margin: 0px;
  margin-right: 10px;
}

.categories-links {
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}

.biz-header-right {
  width: 440px;
  height: 36px;

}

.review-button {
  width: 180px;
  height: 36px;
  border: 1px solid black;
  border-radius: 6px;
  background-color: #CD0E02;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.link-styling {
  text-decoration: none;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.svg-star {
  fill: white;
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.biz-content-container {
  width: 960px;
  height: 374px;
  display: flex;
  flex-direction: row;
}

.map-card-show {
  width: 300px;
  height: 372px;
  background-color: white;
  border: 1px solid #CCCCCC;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.show-map-container {
  width: 280px;
  height: 215px;
  margin: 5px 0 0 9px;
  border: solid 1px #CCCCCC;
}

.address-info-show {
  width: 280px;
  height: 137px;
  background-color: white;
  padding: 10px;
}

.show-pics-container {
  width: 680px;
  height: 320px;
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.middlepic {
  width: 250px;
  height: 250px;
}

.leftpic {
  width: 220px;
  height: 220px;
}

.rightpic {
  width: 220px;
  height: 220px;
}



.biz-bottom-content {
  width: 960px;
  height: 1200px;
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

.right-info-column {
  width: 300px;
  height: 1200px;
  padding-left: 20px;
}

.info-header-box {
  width: 300px;
  border: 1px solid #e6e6e6;
  padding: 0px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.hours-table {
  width: 100%;
  font-size: 12px;
  line-height: 1;
  margin-bottom: 5px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e6e6e6;
}

.svg-link {
  fill: blue;
  height: 18px;
  width: 18px;
  margin-right: 10px;
}

.more-info {
  width: 300px;
  height: auto;
  border: 1px solid #e6e6e6;
  padding: 10px;
  line-height: 1;
  font-size: 12px;
}
