.biz-page-container {
  position: relative;
  top: 110px;
  width: 960px;
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 0 auto;
  margin-left: 0 auto;
}


.biz-headers {
  width: 960px;
  height: 112px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.biz-header-left {
  width: 490px;
  height: 112px;
  line-height: normal;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.biz-name {
  font-size: 36px;
  font-weight: bold;
  width: 490px;
  margin-right: 40px;
}

.stars-img {
  width: 132px;
  height: 24px;
  background: url(https://s3-media2.fl.yelpcdn.com/assets/srv0/yelp_design_web/9b34e39ccbeb/assets/img/stars/stars.png) 0 0;
  background-size: 132px 560px;
  display: inline-block;
  vertical-align: middle;
}

.reviews-count {
  width: 76px;
  height: 24px;
  margin: 0;
  margin-right: 270px;
  margin-left: 10px;
}

.price-counter {
  letter-spacing: 2px;
  margin: 0px;
  margin-right: 10px;
}

.biz-header-right {
  width: 440px;
  height: 36px;

}

.review-button {
  width: 180px;
  height: 36px;
  border: 1px solid black;
  background-color: #CD0E02;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.link-styling {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

.svg-star {
  fill: white;
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.biz-content-container {
  width: 960px;
  height: 374px;
  display: flex;
  flex-direction: row;
}

.map-card-show {
  width: 300px;
  height: 372px;
  background-color: white;
  border: 1px solid #CCCCCC;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.show-map-container {
  width: 280px;
  height: 215px;
  margin: 5px 0 0 9px;
  border: solid 1px #CCCCCC;
}

.address-info-show {
  width: 300px;
  height: 152px;
  background-color: white;

}

.show-pics-container {
  width: 660px;
  height: 320px;
  background-color: wheat;
}

.biz-bottom-content {
  width: 960px;
  height: 1200px;
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

.reviews-main-container {
  width: 629px;
  height: 100%;
  overflow: auto;

}

.review-item {
  max-width: 629px;
  min-height: 100px;
  overflow: auto;
  border: 1px solid gray;
  display: flex;
}

.user-sidebar {
  display: flex;
  max-width: 210px;
  border: 1px dashed gray;
  margin: 0 5px 0 5px;
}

.user-sidebar > img {
  max-width: 60px;
  max-height: 60px;
  margin-left: 10px;
  margin-top: 10px;
}

.review-right-column {
  max-width: 380px;
  margin: 0 5px 0 5px;
}

.body-head {
  display: flex;
}

.review-body {
  font-size: 12px;

}

.right-info-column {
  width: 300px;
  height: 1200px;
  margin-top: 30px;
}

.info-header-box {
  width: 300px;
  height: 180px;
  background-color: gainsboro;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.svg-link {
  fill: blue;
  height: 18px;
  width: 18px;
  margin-right: 10px;
}

.more-info {
  width: 300px;
  height: auto;
  background-color: wheat;
}
