.biz-page-container {
  position: relative;
  top: 110px;
  width: 960px;
  height: 456px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 125px;
  margin-left: 125px;
}

.biz-header-left {
  width: 490px;
  height: 112px;
  line-height: normal;
}

.biz-header-left > h1 {
  font-size: 36px;
  font-weight: bold;
}

.stars-img {
  width: 132px;
  height: 24px;
  background: url("https://s3-media2.fl.yelpcdn.com/assets/srv0/yelp_design_web/9b34e39ccbeb/assets/img/stars/stars.png") no-repeat;
  background-size: 132px 560px;
  display: inline-block;
  vertical-align: middle;
}
