/*this one needs to get pushed down instead of
covered by the above*/
.global-footer {
  position: static;
  bottom: 0;
  left: 0;
  background-color: #F5F5F5;
  width: 100%;
  height: 400px;
  margin-top: 40px;
  border-top: solid #ccc 1px;
}

.footer-content {
  width: 960px;
  height: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.footer-column {
  border: 1px solid black;
  width: 180px;
  height: 198px;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: 15px;
  margin-right: 15px;
}

.cityscape {
  width: 960px;
  height: 100px;
  background-image: url("https://s3-media2.fl.yelpcdn.com/assets/srv0/yelp_styleguide/573fa19c8435/assets/img/structural/footer_cityscape.png");
  background-repeat: no-repeat;
  background-position: center bottom;
}

.final-foot {
  color: #666666;
  width:960px;
  height: 19px;
  text-align: center;
  line-height: 0px;
}
