.bottom_main_container {
  max-width: 960px;
  height: 900px;
  margin: 0 auto;
  margin-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.cities_nav_container {
  width: 960px;
  height: 68px;
  padding-top: 36px;
  text-align: center;
  border-bottom: 1px solid gray;
}

.Redh3 {
  color: #D32323;
  font-size: 16px;
  font-weight: bold;
}

.featured_container {
  padding-top: 22px;
  text-align: center;
  width: 960px;
  height: 384px;
}

.bizzes_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 12px;
  height: 352px;
}

.biz_photo_box {
  max-width: 298px;
  max-height: 180px;
  overflow: hidden;
}

.biz_photo_box > a > img {
  width: 298px;
  height: 180px;
}

.biz_box {
  width: 299px;
  height: 322px;
  padding-left: 15px;
  padding-right: 15px;
}

.biz_info_box {
  text-align: left;
  text-indent: 12px;
  font-size: 12px;
  width:298px;
  height:160px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  line-height: 1px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.small-header {
  width: 250px;
  height: 14px;
  font-size: 16px;
  margin-top: 10px;
  line-height: normal;
  font-weight: bold;
  text-decoration: none;
}
  .small-header:hover {
    text-decoration: underline;
  }


.reviews-count-smaller {
  width: 88px;
  height: 24px;
  margin: 0;
  margin-right: 90px;
  line-height: 19px;
}

.price-counter-smaller {
  letter-spacing: 2px;
  font-size: 16px;
  margin: 0px;
  margin-right: 10px;
}

.svg-fire {
  fill: red;
  height: 18px;
  width: 18px;
  margin-right: 10px;
}


.fire-line {
  width: 200px;
  height: 20px;
  margin: 0px;
}


.categories-main {
  text-align: center;
  font-size: 10px;
  display: inline-block;
  margin-top: 25px;
  width: 960px;
  height: 354px;
  background-color: #f5f5f5;
}

.cat-boxes-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 40px 0 40px;
}

.cat-box {
  margin: 10px 20px 10px 20px;
  border-radius: 6px;
  width: 217px;
  height: 137px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cat-box:hover {
  border: 1px solid gray;
}
