.toplogo {
  width: 180px;
  height: 40px;
  z-index: 90;
  font-size: 20px;
  text-decoration: none;
  text-shadow: 1px 1px 4px white, 0 0 25px red, 0 0 5px darkblue;
  color: black;
  position: relative;
   left: 10%;
   top: 22px;
}

.midlogo {
  width: 160px;
  height: 80px;
  z-index: 90;
  font-size: 36px;
  text-decoration: none;
  color: white;
  position: relative;
   left: 45%;
   top: 120px;
}

.putlogohere {
  width: 256px;
    height: 78px;
    background-image: url(http://res.cloudinary.com/dooqsrgbq/image/upload/v1506619682/logocleaner_xamefg.png);
    background-size: cover;
    font-size: 19px;
    color: rgba(0,0,0,0);
    display: block;
    position: relative;
    left: 38%;
    top: 110px;
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 480px) {

  .putlogohere {
    width: 256px;
    height: 78px;
    background-image: url(http://res.cloudinary.com/dooqsrgbq/image/upload/v1506619682/logocleaner_xamefg.png);
    background-size: cover;
    font-size: 19px;
    color: rgba(0,0,0,0);
    display: block;
    position: relative;
    left: 20%;
    top: 110px;
  }

}
