.page-container {
  max-width: 960px;
  height: 530px;
  margin-left: 85px;
  margin-right: 85px;
  padding-left: 15px;
  padding-right: 15px;
}

.splashbg {
  width: 100%;
  height: 570px;
  position: absolute;
  top: 0px;
  z-index: -5;
  background-position: center center;
  background-size: cover;
  background-image: url("https://s3-media2.fl.yelpcdn.com/assets/srv0/yelp_large_assets/a2a6dfbdce53/assets/img/home/hero_photos/Y52KtIDZeG8aAMBaLIjSlQ.jpg");
}

.search_container {
  position: relative;
  top: 200px;
  width: 960px;
  height: 63px;
}

.search_form {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.search_form > input {
  width: 458px;
  height: 23px;
  padding: 8px;
  margin: 2px;
  border-radius: 6px;
}
