.left-column {
  max-width: 465px;
  margin-top: 20px;
  height: auto;
}

.right-column {
  max-width: 412px;
  height: auto;
  margin-left: 75px;
  margin-top: 60px;
}

.biz-house {
  width: 412px;
  height: 248px;
  background-image: url(https://s3-media3.fl.yelpcdn.com/assets/2/biz/img/cfd2f4c2e0b3/signup/new_biz.png);
}

.add-inputs {
  width: -webkit-fill-available;
  height: 18px;
  margin: 2px 0 14px;
  padding: 5px 9px;
  border: 1px solid #999;
  border-radius: 3px;
}

.labels {
  font-weight: bold;
}

.help-text {
  color: #999;
  font-size: 10px;
  line-height: 1.5em;
  font-weight: normal;
}

.new-submit {
  width: 100%;
  background-color: #D32323;
  font-size: 14px;
  color: white;
  padding: 8px 19px 9px;
  border-radius: 3px;
  vertical-align: middle;
  margin-top: 10px;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  border: 1px solid gray;
}
.new-submit:hover {
  background-color: red;
}
