.results-page-container {
  width: 1620px;
  height: 1400px;
  position: relative;
  top: 88px;
}

.top-shelf-options {
  width: 1620px;
  height: 141px;
  background-color: #f5f5f5;
}

.results-content {
  width: 960px;
  height: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 315px;
  margin-right: 315px;
  background-color: yellow;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.biz-index-container {
  width: 620px;
  height: 1000px;
  padding-right: 10px;
  background-color: wheat;
}

.map-column-container {
  width:300px;
  height: 800px;
  padding-left: 20px;
  background-color: turquoise;
}
