.results-page-container {
  max-width: 1620px;
  min-height: 1200px;
  position: relative;
  top: 88px;
}

.top-shelf-options {
  max-width: 1400px;
  height: 110px;
  padding-top: 15px;
  background-color: #f5f5f5;
}

.top-shelf-content {
  width: 960px;
  margin: 0 auto;
}

.filters-row {
  display: flex;
    flex-direction: row;
    align-items: center;
    margin: 25px 0px 0px 0px;
}

.filters-row2 {
  display: flex;
    flex-direction: row;
    align-items: center;
}

.dollars-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 4px;
  border: 1px solid gray;
  max-width: 177px;
  height: 40px;
}

.dollars-button-unselected {
  padding: 7px;
  border: 1px solid gainsboro;
  cursor: pointer;
  height: 25px;
  background-color: #fff;
}

.dollars-button-selected {
  padding: 7px;
  border: 1px solid #41a700;
  background-color: #c4f3a4;
  cursor: pointer;
  height: 25px;
}


.hidden-checkbox {
  display: none;
}

.filters-element2 {
  margin-left: 10px;
}

.open-button {
  border: 1px solid gray;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
  background-color: #fff;
}

.svg-clock {
  fill: #ca6d00;
  height: 18px;
  width: 18px;
  margin-right: 5px;
  vertical-align: text-top;
}

.delivery-button {
  border: 1px solid gray;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
}

.svg-truck {
  fill: #ca6d00;
  height: 18px;
  width: 18px;
  margin-right: 5px;
  vertical-align: text-top;
}

.takeout-button {
  border: 1px solid gray;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
}

.svg-bag {
  fill: #ca6d00;
  height: 18px;
  width: 18px;
  margin-right: 5px;
  vertical-align: text-top;
}

.selected {
  background-color: #c4f3a4;
}

.hidden {
  display: none;
}

.results-content {
  width: 960px;
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.biz-index-container {
  width: 620px;
  padding: 15px 10px 0px 0px;
}

.map-column-container {
  width:300px;
  height: 800px;
  padding-left: 10px;
}

.results-map-container {
  width: 300px;
  height: 300px;
  margin: 0;
  border: solid 1px #CCCCCC;
}

.results-map-header {
  width: 300px;
  height: 43px;
  background-color: #F5F5F5;
}

.create-question {
  margin-top: 60px;
  width: auto;
  height: 180px;
  padding: 5px 0px 5px 15px;
  border: 1px solid #e6e6e6;
}

.new-biz-button {
  padding: 7px 10px;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  color: white;
  background-color: #d90007;
  border-color: #8d0005;
  border-radius: 3px;
  border: 1px;
  cursor: pointer;
  box-shadow: 0 1px 1px rgba(0,0,0,0.3);
}
