.reviewForm-master {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
  margin-top: 100px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.bizz-reminder {
  width: 300px;
  height: 342px;
  display: flex;
  margin: 10px 0px 10px 0px;
}

.review-box {
  width: -webkit-fill-available;
}

.other-reviews {
  min-width: 450px;
  margin: 0 10px 0 120px;
  max-height: 340px;
  overflow: scroll;
}

.review-item-small {
  max-width: 375px;
  max-height: fit-content;
  display: flex;
}

.review-right-column-small {
  margin-left: 10px;
}

.user-name-text {
  margin: 0 auto;
}

.review-body-small {
  font-size: 12px;
}

.body-head-small {

}

.bordered-container {
  max-width: 629px;
  max-height: 236px;
  display: flex;
  flex-direction: column;
}

.stars-interactive {
  width: 132px;
  height: 24px;
  background: url(https://s3-media2.fl.yelpcdn.com/assets/srv0/yelp_design_web/9b34e39ccbeb/assets/img/stars/stars.png) 0 0;
  background-size: 132px 560px;
  display: inline-block;
  vertical-align: middle;
}


.body-field {
  min-width: 200px;
  min-height: 100px;
}

.invis-radio {
  margin: 0px 7px 0px 7px;
  opacity: 0.1;
}

.post-button {
  max-width: 140px;
  border: 1px solid black;
  background-color: #CD0E02;
  color: white;
}
