.reviewForm-master {
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}

.bizz-reminder {
  background-color: turquoise;
  min-width: 300px;
  min-height: 200px;
}

.review-box {

}

.bordered-container {

}

.stars-interactive {

}

.body-field {
  min-width: 200px;
  min-height: 100px;
}
