.search-container-splash {
  width: 960px;
  height: 63px;
  position: relative;
  top: 215px;
}

.search-container-top {
  width: 740px;
  height: 40px;
  position: relative;
  top: -117px;
  left: 235px;
  z-index: 60;
}

.search-container-fix {
  width: 740px;
  height: 40px;
  position: relative;
  top: -87px;
  left: 235px;
  z-index: 60;
}

.search_form {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.search-form-top {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.search-header {
  background-color: white;
  width: auto;
  height: 35px;
  font-weight: bold;
  border-radius: 4px 0 0 4px;
  line-height: 34px;
  padding: 6px 10px 6px 10px;
  border-top: 2px solid #9A9A9A;
  border-bottom: 2px solid #EEEEEE;
}

.search-header-top {
  background-color: white;
  width: auto;
  height: 25px;
  font-weight: bold;
  border-radius: 4px 0 0 4px;
  line-height: 23px;
  padding: 5px 10px 5px 10px;
  border-top: 2px solid #9A9A9A;
  border-bottom: 2px solid #EEEEEE;
}

.search-keyword {
  width: 416px;
  height: 45px;
  padding-left: 10px;
  margin: 0px;
  border-left: 0px;
}

.search-keyword-top {
  width: 416px;
  height: 33px;
  padding-left: 5px;
  margin: 0px;
  border-left: 0px;
}

.search-location {
  width: 416px;
  height: 45px;
  padding-left: 5px;
  margin: 0px;
  border-left: 0px;
}

.search-location-top {
  width: 416px;
  height: 33px;
  padding-left: 15px;
  margin: 0px;
  border-left: 0px;
}

.search-submit-home {
  width: 54px;
  height: 51px;
  border-radius: 0 5px 5px 0;
  border: 0;
  background: #bd1f1f;
  padding: 17px 15px 15px;
  box-shadow: none;
}

.search-submit-top {
  width: 54px;
  height: 41px;
  border-radius: 0 5px 5px 0;
  border: 0;
  background: #bd1f1f;
  padding: 17px 15px 15px;
  box-shadow: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.svg-search {
  width: 24px;
  height: 24px;
  fill: white;
  background-color: #BD1F1F;
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 480px) {

  .search-container-splash {
    width: 475px;
    height: 63px;
    position: relative;
    top: 215px;
    margin-left: 10px;
  }

  .search-header {
    background-color: white;
    width: auto;
    height: 35px;
    font-weight: bold;
    border-radius: 4px 0 0 4px;
    line-height: 34px;
    padding: 3px 5px 3px 5px;
    border-top: 2px solid #9A9A9A;
    border-bottom: 2px solid #EEEEEE;
    font-size: 10px;
  }

  .search-keyword {
    width: 320px;
    height: 39px;
    padding-left: 10px;
    font-size: 12px;
    margin: 0px;
    border-left: 0px;
  }

  .search-location {
    display: none;
  }

  .search-submit-home {
    width: 48px;
    height: 44px;
    border-radius: 0 5px 5px 0;
    border: 0;
    background: #bd1f1f;
    padding: 9px 0px 0px;
    box-shadow: none;
  }

}
