.sessionForm_master {
  width: 50%;
  text-align: center;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


.right-side-house {
  display: flex;
  border: 2px solid;
}

.tinytext {
  font-size: 11px;
}

.Redh2 {
  color: #D32323;
}

.errorbox {
  display: block;
  border: 2px solid;
  border-radius: 10px;
  width: 25%;
  background-color: #FCD6D3;
}

.errorbox-hidden {
  display: none;
}
