.sessionForm_master {
  width: 100%;
  text-align: center;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-left: 150px;
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
}

.left-side-form {
  max-width: 300px;
}
.right-side-house {
  width: fit-content;
  display: flex;
  /*border: 2px solid;*/
  padding-left: 40px;
}

.tinytext {
  font-size: 11px;
}

.Redh2 {
  color: #D32323;
  font-size: 22px;
}

.errorbox {
  height: fit-content;
  padding: 5px;
  border: 2px solid;
  border-radius: 10px;
  background-color: #FCD6D3;
}

.errorbox-hidden {
  display: none;
}
