.sessionForm_master {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
}

.left-side-form {
  max-width: 300px;
}
.right-side-house {
  max-width: 382px;
  display: flex;
  /*border: 2px solid;*/
  padding-left: 40px;
}

.tinytext {
  font-size: 11px;
}

.Redh2 {
  color: #D32323;
  font-size: 22px;
  font-weight: bold;
  line-height: 0px;
}

.errorbox {
  height: fit-content;
  width: 90%;
  padding: 5px;
  border: 1px solid gray;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #FCD6D3;
}

.errorbox-hidden {
  display: none;
}
