.classic_red_nav {
  background-color: red;
  width: 1465px;
  height: 64px;
  position: absolute;
  top: 0px;
  z-index: -1;
}

.toplogo {
  display: flex;
  flex-direction: column;
  text-align: center;
  z-index: 99;
}

#signupbutton #loginbutton {
  color: white;
}

.auth_links {
  width: 75%;
  display: flex;
  flex-direction: column;
  text-align: right;
}
