.classic_red_nav {
  background: #D32323 url(https://s3-media4.fl.yelpcdn.com/assets/srv0/yelp_styleguide/c146b0884f6a/assets/img/structural/header_stars.png) no-repeat 40px;
  width: 1400px;
  height: 64px;
  position: absolute;
  top: 0px;
  left: 0px;
}

.invisible_nav {
  background:rgba(0,0,0,0.1);
  width: 100%;
  height: 64px;
  position: absolute;
  top: 0px;
  left: 0px;
}

.signupbtn {
  color: white;
  width: 53px;
  height: 17px;
  border-radius: 4px;
  border: 2px solid white;
  font-size: 14px;
  z-index: 50;
  padding: 7px 24px 8px;
  text-decoration: none;
  font-weight: bold;
  display: flex;
  align-items: center;
}
  .signupbtn:hover {
    background-color: white;
    color: #666;
  }

.signupRed {
  color: white;
  background-color: #BD1F1F;
  width: 80px;
  height: 24px;
  border-radius: 4px;
  font-size: 14px;
  z-index: 50;
  padding: 6px 12px 6px;
  text-decoration: none;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
    margin-bottom: 12px;
}
  .signupRed:hover {
    background-color: #A71C1C;
  }

.loginbtn {
  color: white;
  width: 42px;
  height: 17px;
  padding: 9px 12px 8px;
  margin-right: 10px;
  z-index: 50;
  font-size: 14px;
  text-decoration: none;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
  .loginbtn:hover {
    border-bottom: 2px solid white;
  }

.demobtn {
  color: white;
  width: 81px;
  height: 17px;
  padding: 9px 12px 8px;
  z-index: 50;
  font-size: 14px;
  text-decoration: none;
  font-weight: bold;
  display: flex;
  align-items: center;
  cursor: pointer;
}
  .demobtn:hover {
    border-bottom: 2px solid white;
  }

  .demoRed {
    color: white;
    width: 104px;
    height: 27px;
    z-index: 50;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -27px;
    right: 845px;
    cursor: pointer;
  }
    .demoRed:hover {
      background-color: #A71C1C;
    }

.loginRed {
  color: white;
  width: 104px;
  height: 27px;
  z-index: 50;
  font-size: 14px;
  text-decoration: none;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  }
  .loginRed:hover {
    background-color: #A71C1C;
  }

.auth-links {
  width: 85%;
  display: flex;
  z-index: 50;
  justify-content: flex-end;
  position: absolute;
  top: 30px;
}

.auth-red {
  width: 1180px;
  display: flex;
  flex-direction: column-reverse;
  z-index: 50;
  align-items: flex-end;
  position: relative;
    top: -15px;
    right: 95px;
}

.full-button {
  display: flex;
}

.dropdown-btn {
  width: 38px;
  height: 38px;
  margin-bottom: 33px;
}

.dropdown-btn:hover + .button-right-arrow {
  background-color: rgba(0,0,0,0.6);
}

.button-right-arrow {
  width: 10px;
  height: 38px;
  border-radius: 3px;
  background-color: rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 3px;
}

.button-right-arrow:hover {
  background-color: rgba(0,0,0,0.6);
}

.svg-triangle {
  fill: white;
  width: 10px;
  height: 10px;
}

.hidden-dropdown-items {
  display: none;
}

.arrow-up {
  width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid white;
    position: absolute;
    bottom: 102%;
    left: 50%;
}

.unhidden-dropdown-items {
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    position: absolute;
    right: 0px;
    top: 48px;
    background-color: #f5f5f5;
    z-index: 1;
    padding: 10px 10px 10px 10px;
    border: outset 2px darkgray;
}

.bottom-red-nav {
  background-color: #BD1F1F;
  width: 100%;
  height: 27px;
  position: absolute;
  top: 64px;
}

.hidden-nav {
  display: none;
}


/*profile pic is 38 x 38
arrow is 14 x 14*/
